.logo{
    background:url('/images/sticker.jpeg') no-repeat center top;
    width: 325px;
    height: 325px;
    margin-left: 208px;
}

body {
    font-family: 'Lato', verdana, arial, helvetica, sans-serif;
    padding: 0 30px 0 30px;
    width: 800px;
}

.center{
    text-align: center;
}

table#rsvps{
    width: 100%;
}

table#rsvps td, table#rsvps th{
    text-align: center;
}