<h2>Saturday Night BBQ</h2>
<p>Saturday evening we will be hosting an informal gathering at
  <%=link_to('our place in Boulder', "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=910+37th+Street+boulder&aq=&sll=37.0625,-95.677068&sspn=45.332616,92.724609&ie=UTF8&hq=&hnear=910+37th+St,+Boulder,+Colorado+80303&ll=40.004114,-105.246277&spn=0.021532,0.045276&z=15", :target => '_blank') %>.
</p>

<p> We will have some traditional summertime grub and some local brews.  Please feel free to bring
  your favorite backyard BBQ food/beverage to share.</p>

<p>If you have any questions, please feel free to give us a call or drop us an email.</p>

<%= link_to 'Back', root_path %>