<h1 class='center'>Welcome to Heather and Mike's Wedding site.</h1>
<p>
  We are feverishly working to plan an amazing and different wedding. Check back often
  for updated information.
</p>
<p>
  If there is something you don't see here or have a question about,
  please let us know.</p>

<p>
  Please let us know if you will be
  coming by submitting an <%= link_to "RSVP", new_rsvp_path %>.</p>

<p>
  For more information about getting to Boulder, things to do in Boulder and
  some hotels for you to stay in, click
  <%= link_to('here', '/boulder') %>.
</p>

<p>
  For more information about the evening BBQ get together, click
  <%= link_to('here', '/bbq') %>.
</p>

<p>
  If you are so inclined to give a gift or are wondering how we are going to spend our honeymoon, click
  <%= link_to('here', '/honeymoon') %>.
</p>
