<h1 class='center'>Welcome to Heather and Mike's Wedding site.</h1>
<p>We are feverishly working to plan an amazing and different wedding.</p>

<p>Please let us know if you will be
  coming by submitting an <%=link_to "RSVP", new_rsvp_path %>.</p>

<p>For more information about the evening BBQ get together, click
    <%= link_to('here', '/bbq') %>.
</p>
