<h1 class='center'>Welcome to Heather and Mike's Wedding site.</h1>
<p>We are feverishly working to plan an amazing and different wedding.  Please check back soon for a way to RSVP
for our wedding.</p>
