<h2>The Honeymoon and Giving Gifts</h2>

<p>
  We have decided to spend our honeymoon in Northern India on a three week tour with a good friend of Mike's.
  We are asking anyone who would like to give us a gift to help send us on this once in a lifetime trip.
  For more information about the trip and all of the amazing places we are going to visit, please check out the
  <%= link_to "Vedic Odyssey site", "http://www.vedicodyssey.com/adventures/1110_rajasthan/rajasthan_spiritual_adventure.shtml", :target => "_blank" %>.
</p>

<p>If you just really have to get us a physical gift, we will be registering soon.  Please check back
for more details.</p>

<%= link_to 'Back', root_path %>