<h2>The Honeymoon and Giving Gifts</h2>

<p>
  We have decided to spend our honeymoon in Northern India on a three week tour with a good friend of Mike's.
  We are asking anyone who would like to give us a gift to help send us on this once in a lifetime trip.
  For more information about the trip and all of the amazing places we are going to visit, please check out the
  <%= link_to "Vedic Odyssey site", "http://www.vedicodyssey.com/adventures/1110_rajasthan/rajasthan_spiritual_adventure.shtml", :target => "_blank" %>
  .
</p>

<p>If you'd like to get us a gift from a registry rather than donate to the honeymoon, please
  visit our REI wedding list
  <%= link_to "here", "http://www.rei.com/GiftRegistryDetails/GR2356174", :target => "_blank" %>.
</p>

<%= link_to 'Back', root_path %>